body {
    background-color: #fde1f4;
    font-family: Arial, sans-serif;
    padding: 20px;
}

nav {
    
    font-weight: bold;
    background-color: #f5f7fa;
    color:#fde1f4;
    padding: 20px;

}
section {
    background-color: #f5f7fa;
    padding: 20px;
}

table {
    background-color: #f5f7fa;
    padding: 20px;
}

form {
    background-color: #edf4fe;
}

head {
    background-color: #ffb3e7;
    padding: 20px;
}